@charset "utf-8";


.stopwatch-component {
    position: relative;
    padding: 0 env(safe-area-inset-right) 20px env(safe-area-inset-left);

    box-shadow:
        0 1px 5px 0 rgba(0,0,0,.1),
        0 3px 15px 0 rgba(0,0,0,.15);

    display: flex;
    justify-content: center;

    --margin-around: calc(var(--secondary-button-size) + 5px);
    --margin-between: 2vw;

     --secondary-button-size: clamp(36px, 4vw, 46px);
     --secondary-button-offset: 5px;
}

.st-first-container, .st-second-container {
    display: flex;
    flex-direction: column;
}


.st-first-container {
    margin: 0 var(--margin-between) 0 var(--margin-around);
}

.st-second-container {
    margin-right: var(--margin-around);
}


@media (orientation: portrait) {
    .stopwatch-component {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }

    .st-first-container, .st-second-container {
        margin: 0 1vw;
        width: unset;
    }

    .st-first-container {
        margin-bottom: 10px;
    }
}


.stopwatch-component h2 {
    margin-top: 5px;

    color: var(--main-color);
    font: 16px "OpenSans SemiBold", sans-serif;
    text-align: center;
}


.st-current-stopwatch, .st-total-stopwatch {
    line-height: .8;
    font-size: 125px;
}

.st-current-stopwatch {
    flex-grow: 1;
    font-family: "OpenSans Regular", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.st-total-stopwatch {
    font-family: "OpenSans Regular", sans-serif;
}


/* Main controls */

.st-main-controls {
    flex: 1 0;
    margin-top: 3%;

    display: flex;
    align-items: stretch;
}

.st-main-controls > * {
    flex: 1 0 0;
    height: unset;
    min-height: var(--button-height);
}

.st-main-controls > :not(:last-child) {
    margin-right: 1vw;
}

.st-main-controls > :nth-child(2) {
    flex-grow: 2;
}


/* Secondary controls */

.ts-close {
    position: absolute;
    top: var(--secondary-button-offset);
    left: max(env(safe-area-inset-left), var(--secondary-button-offset));

    width: var(--secondary-button-size);
    height: var(--secondary-button-size);
}

.ts-settings {
    position: absolute;
    top: var(--secondary-button-offset);
    right: max(env(safe-area-inset-right), var(--secondary-button-offset));

    width: var(--secondary-button-size);
    height: var(--secondary-button-size);

    border-color: transparent;
    transition: border-color .2s;

    --background:
        center/contain no-repeat content-box url("../res/icons/cog-wheel.jpg");

    background: var(--background);
}

.ts-settings:hover {
    background: linear-gradient(var(--secondary-color-hover),
                                var(--secondary-color-hover)),
                var(--background);
}

.ts-settings:active {
    background: linear-gradient(var(--secondary-color-active),
                                var(--secondary-color-active)),
                var(--background);
}