@charset "utf-8";

.settings-component {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--disabled-component-color);

    /* Positioning fo the component */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--comp-default-margin);
}

.settings-component form {
    position: relative;
    max-width: var(--comp-default-width);

    padding: 30px;
    padding-top: 1em;
    border-radius: var(--comp-border-radius);

    background-color: white;
    box-shadow: var(--comp-shadow);

    overflow: auto;
    color: #000A;
}


.sett-close {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 28px;
    height: 28px;
}


/* Headings */

.settings-component h2 {
    text-align: center;
    color: var(--main-color);
    font: normal 28px "OpenSans Light", sans-serif;
}

.settings-component h3 {
    color: var(--main-color);
    font: normal 20px "OpenSans Light", sans-serif;
    margin-bottom: .25rem;
}


/* Lists */

.sett-info {
    margin: 1em 25px;
}

.sett-explanation {
    margin: 0 25px;
    margin-bottom: .5em;
}

.settings-component ::marker {
    color: var(--main-color);
}

.settings-component li:not(:last-child) {
    margin-bottom: .5em;
}

.settings-component em {
    font-style: normal;
    text-decoration: underline;
}


/* Inputs */

.settings-component label {
    display: flex;
    margin: 0 25px 1em 25px;

    color: #000C;
    font-family: "OpenSans SemiBold", sans-serif;
}

.settings-component input {
    width: 40px;
    margin-left: 5px;

    border: 1px solid transparent;
    border-bottom: 1px solid var(--main-color);
    border-radius: 0;

    font-family: "OpenSans Regular", sans-serif;
    font-size: inherit;
    text-align: right;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.settings-component input:focus {
    border: 1px solid var(--main-color);
    border-radius: var(--comp-border-radius);
    outline: none;
}


/* Attribution */

.settings-component small {
    display: block;
    margin-top: 2rem;

    text-align: center;
}