@charset "utf-8";

.overview-component {
    display: none;
    position: relative;

    /* Dimensions */
    max-height: 450px;
    min-height: 284px;
    flex: 1 0 0;

    padding: 13px var(--comp-default-padding) var(--comp-default-padding);

    /* Background */
    background-color: white;
    border-radius: var(--comp-border-radius);
    box-shadow: var(--comp-shadow);

    /* Content */
    flex-direction: column;
}

    /* Fade in/out animations */
.overview-component.display {
    display: flex;
    opacity: 0;

    --from: -50px;
    animation: ov-fade-in .7s .5s forwards;
}

    @keyframes ov-fade-in {
        from {
            top: var(--from);
        }
        70% {
            opacity: 1;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

.overview-component.hide {
    display: flex;
    animation: ov-fade-out .7s .2s forwards;
}

    @keyframes ov-fade-out {
        from {
            top: 0;
        }
        to {
            top: 50px;
            opacity: 0;
        }
    }

.overview-component.disp-none {
    display: none;
}


.overview-component > fieldset {
    border: none;
    flex-grow: 1;

    /* Content */
    display: flex;
    flex-direction: column;
}

.overview-component > fieldset > * {
    flex-shrink: 0;
}


/* --- Headings --- */
.overview-component h1 {
    padding-bottom: 3px;

    color: var(--main-color);
    text-align: center;

    font: 32px "Roboto Medium", sans-serif;
}

.overview-component h2 {
    padding-bottom: 10px;
    font: 16px "OpenSans SemiBold", sans-serif;
}

.overview-component :disabled h2 {
    color: var(--disabled-color);
}


/* --- Training list --- */
.ov-training-list {
    flex: 1 0 0;        /* flex-shrink is overwritten by higher priority rule
                        above to the same value 0 */
    padding-left: 15px;
    border: none;

    overflow: auto;
}


/* --- No Trainings Display --- */
.ov-no-trainings {
    margin: 1em 1em 1em calc(1em - 15px);
}


/* --- Trainings --- */

.ov-training label {
    padding: 10px 0;
    border-bottom: 1px solid var(--main-color);

    /* Content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ov-training:nth-child(2) label {
    border-top: 1px solid var(--main-color);
}

.ov-training:last-child {
    margin-bottom: 5px;
}

.ov-training p {
    margin: 0 10px;
}

.ov-training .handle {
    margin: 0 10px;
    flex-shrink: 0;
}

    /* Selected state */
.ov-training :checked + label {
    color: white;
    background-color: hsl(209, 100%, 70%);
}

.ov-training :checked + label .handle {
    --border-color: white;
}

    /* Disabled state */
.ov-training :disabled + label {
    color: var(--disabled-color);
    background-color: white;
}

.ov-training :disabled + label .handle {
    --border-color: var(--disabled-color);
}


/* --- Controls --- */
.ov-controls {
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
}

.ov-controls > * {
    margin-top: 5px;
}

.ov-open {
    width: 100%;
}

.ov-create {
    flex: 1 1 0;
    margin-right: 5px;
}

.ov-delete {
    flex: 1 1 0;
    margin-right: 5px;
}

.ov-settings {
    width: var(--button-height);

    --background:
        center/contain no-repeat content-box url("../res/icons/cog-wheel.jpg");
    background: var(--background);
}

.ov-settings:disabled {
    background:
        linear-gradient(var(--disabled-color), var(--disabled-color)),
        var(--background);

    background-blend-mode: lighten;
}
