@charset "utf-8";

.ts-container {
    margin-left: -5px;
}

.training-setup-component {
    /*display: none;*/
    display: flex;
    position: relative;
    flex: 1 0 0;

    padding: var(--comp-default-padding);

    /* Background */
    background-color: white;
    border-radius: var(--comp-border-radius);
    box-shadow: var(--comp-shadow);

    /* Content */
    flex-direction: column;

    --placeholder-color: #0006;
}


/* General Input */

.ts-input {
    border: 1px solid transparent;
    border-radius: var(--comp-border-radius);
    padding: 3px 5px;

    font: 1em "OpenSans Regular", sans-serif;
    text-overflow: ellipsis;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ts-input::placeholder {
    color: var(--placeholder-color);
    font: 1em "OpenSans Regular", sans-serif;
    opacity: 1; /* Firefox */
}

.ts-input:focus {
    outline: none;
    border-color: var(--main-color);
}


/* General Notes */
/* Requires ts-input */

.notes {
    height: calc(8px + 3 * 1.5em);
    background-color: rgba(0,0,0,.04);
    resize: none;


    color: #000A;
    font-size: .8em;
    line-height: 1.5;
}

.notes:placeholder {
    line-height: 1.5;
}

.notes:focus {
    background-color: white;
}



/* ===== Component Elements ===== */

/* Training Name */

.ts-training-name {
    margin: 0px -5px 2px -5px;

    color: var(--main-color);
    font: 24px "Roboto Light", sans-serif;
}

.ts-training-name::placeholder {
    font: 24px "Roboto Light", sans-serif;
}


/* Scroll Container */

.ts-scroll-container {
    position: relative;     /* For sticky line effect */

    flex: 1 1 0;
    padding-top: 3px;
    border-top: 1px solid transparent;

    display: flex;
    flex-direction: column;
    overflow: auto;
}

.ts-scroll-container > * {
    flex-shrink: 0;
}


/* Bottom Controls */

.ts-bottom-controlls {
    margin-top: 15px;

    display: flex;
}

.ts-bottom-controlls > * {
    flex: 1 1 0;
}

.ts-cancel {
    margin-right: 5px;
}


/* --- Scroll Container Elements --- */

/* Training Notes */

.ts-training-notes {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
}


/* Exercise Container */

.ts-exercise-container {
    --left-right-padding: 5px;

    padding: 10px var(--left-right-padding) 20px;
    border-top: 1px solid var(--main-color);

    display: flex;
    flex-direction: column;
}

.ts-exercise-container > * {
    flex-shrink: 0;
}

.ts-exercise-container > :not(:last-child):not(.ts-no-exercises) {
    margin-bottom: 10px;
}

/* No Exercises Display */

.ts-no-exercises {
    margin: 1em calc(1em - var(--left-right-padding));
}


/* Add Controls */

.ts-add-controls {
    margin: 0 0 20px;

    display: flex;
    justify-content: center;
}

.ts-add-controls > * {
    flex-basis: 100px;
    height: 32px;

    font-size: .8em;
}

.ts-add-group {
    margin-right: 20px;
}



/* ===== Group ===== */

.ts-group {
    position: relative;
    padding: 30px 10px 15px;

    border: 1px solid hsl(0, 0%, 30%);
    border-radius: var(--comp-border-radius);

    display: flex;
    flex-direction: column;
}

.ts-group > :not(:last-child) {
    margin-bottom: 5px;
}


.ts-group-name {
    margin-left: -5px;
    margin-right: -5px;

    font-family: "Roboto Light", sans-serif;
}

.ts-group-exercise-container > :nth-child(2) {
    margin-top: 5px;
}

.ts-group-exercise-container > :not(.ts-group-no-exercises) {
    margin-bottom: 10px;
}

.ts-group-no-exercises {
    margin: 1.5em 1em;
}


/* Group Controlls */

.ts-group-controls {
    display: flex;
    justify-content: center;
}

.ts-group-handle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ts-group-close {
    position: absolute;
    top: 3px;
    right: 2px;
}

.ts-group-add {
    width: 100px;
    height: 32px;
    font-size: .8em;
}


/* ===== Exercise ===== */

.ts-exercise {
    position: relative;

    border: 1px solid black;
    border-radius: var(--comp-border-radius);

    display: flex;
    flex-direction: column;
}

.ts-exercise-container > .ts-exercise {
    margin-left: 10px;
    margin-right: 10px;
}




/* ===== Set ===== */