@charset "utf-8";

.ts-container {
    --animation-speed: .7s;

    margin-left: 0;
    margin-right: 0;
    width: 0;

    transition: all var(--animation-speed) ease-in-out;
}

.ts-container.display {
    margin-left: -5px;
    margin-right: var(--vertical-container-margin);
    width: var(--vertical-container-width);
}

.training-setup-component {
    --placeholder-color: #0006;

    display: none;
    position: relative;
    flex: 1 0 0;

    padding: var(--comp-default-padding);

    /* Background */
    background-color: white;
    border-radius: var(--comp-border-radius);
    box-shadow: var(--comp-shadow);

    /* Content */
    flex-direction: column;
}

    /* Fade in/out animations */
.training-setup-component.display {
    display: flex;
    opacity: 0;

    animation: ts-fade-in var(--animation-speed) forwards ease-in-out;
}

    @keyframes ts-fade-in {
        from {
            left: 50px;
        }
        70% {
            opacity: 1;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }

.training-setup-component.hide {
    display: flex;
    animation: ts-fade-out var(--animation-speed) forwards ease-in-out;
}

    @keyframes ts-fade-out {
        from {
            left: 0;
        }
        to {
            left: 50px;
            opacity: 0;
        }
    }


/* General Input */

.ts-input {
    border: 1px solid transparent;
    border-radius: var(--comp-border-radius);
    padding: 3px 5px;

    background-color: transparent;

    font: 1em "OpenSans Regular", sans-serif;
    text-overflow: ellipsis;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ts-input::placeholder {
    color: var(--placeholder-color);
    font: 1em "OpenSans Regular", sans-serif;
    opacity: 1; /* Firefox */
}

.ts-input:focus {
    outline: none;
    border-color: var(--main-color);
    background-color: white;
}


/* General Notes */
/* Requires ts-input */

.notes {
    height: calc(8px + 3 * 1.5em);
    background-color: rgba(0,0,0,.04);
    resize: none;


    color: #000A;
    font-size: .8em;
    line-height: 1.5;
}

.notes:placeholder {
    line-height: 1.5;
}



/* ===== Component Elements ===== */

/* Training Name */

.ts-training-name {
    margin: 0px -6px 2px -6px;

    color: var(--main-color);
    font: 24px "Roboto Light", sans-serif;
}

.ts-training-name::placeholder {
    font: 24px "Roboto Light", sans-serif;
}


/* Scroll Container */

.ts-scroll-container {
    position: relative;     /* For sticky line effect */

    flex: 1 1 0;
    padding-top: 3px;
    border-top: 1px solid transparent;

    display: flex;
    flex-direction: column;
    overflow: auto;
}

.ts-scroll-container > * {
    flex-shrink: 0;
}


/* Bottom Controls */

.ts-bottom-controlls {
    margin-top: 15px;

    display: flex;
}

.ts-bottom-controlls > * {
    flex: 1 1 0;
}

.ts-cancel {
    margin-right: 5px;
}


/* --- Scroll Container Elements --- */

/* Training Notes */

.ts-training-notes {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
}


/* Exercise Container */

.ts-exercise-container {
    --left-right-padding: 5px;

    padding: 0 var(--left-right-padding);
    border-top: 1px solid var(--main-color);

    display: flex;
    flex-direction: column;
}

.ts-exercise-container > * {
    flex-shrink: 0;
}

/* No Exercises Display */

.ts-no-exercises {
    margin: 1em calc(1em - var(--left-right-padding));
}


/* Add Controls */

.ts-add-controls {
    margin: 0 0 20px;

    display: flex;
    justify-content: center;
}

.ts-add-controls > * {
    flex-basis: 100px;
    height: 32px;

    font-size: .8em;
}

.ts-add-group {
    margin-right: 20px;
}



/* ===== Group ===== */

.ts-group {
    position: relative;
    padding: 30px 10px 15px;

    border: 1px solid hsl(0, 0%, 30%);
    border-radius: var(--comp-border-radius);

    display: flex;
    flex-direction: column;
}

.ts-group:nth-child(2), .ts-exercise + .ts-group {
    margin-top: 10px;
}

.ts-group:not(:last-child) {
    margin-bottom: 10px;
}

.ts-group:last-child {
    margin-bottom: 20px;
}


.ts-group-name {
    margin: 0 -6px 5px;
    font-family: "Roboto Light", sans-serif;
}

.ts-group-no-exercises {
    margin: 1.5em 1em;
}


/* Group Controlls */

.ts-group-controls {
    display: flex;
    justify-content: center;
}

.ts-group-handle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ts-group-close {
    position: absolute;
    top: 3px;
    right: 2px;
}

.ts-group-add {
    width: 100px;
    height: 32px;
    font-size: .8em;
}


/* ===== Exercise ===== */

.ts-exercise {
    position: relative;
    padding: 30px 10px 10px;

    border-bottom: 1px solid var(--main-color);

    display: flex;
    flex-direction: column;
}

.ts-exercise:last-child {
    margin-bottom: 20px;
}

.ts-group .ts-exercise:nth-child(2) {
    margin-top: 10px;
    border-top: 1px solid var(--main-color);
}

.ts-group + .ts-exercise {
    border-top: 1px solid var(--main-color);
}

.ts-exercise-container > .ts-exercise {
    margin-left: 10px;
    margin-right: 10px;
}

.ts-exercise > :not(:last-child) {
    margin-bottom: 5px;
}


.ts-exercise-name {
    margin-left: -6px;
    margin-right: -6px;

    font-family: "Roboto Light", sans-serif;
}

.ts-exercise-set-container {
    counter-reset: set-counter;
}


/* Controls */

.ts-exercise-controls {
    display: flex;
    justify-content: center;
}

.ts-exercise-handle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ts-exercise-close {
    position: absolute;
    top: 3px;
    right: 2px;
}

.ts-exercise-add-set {
    width: 100px;
    height: 32px;
    font-size: .8em;
}



/* ===== Set ===== */

.ts-set {
    padding: 3px 5px 3px 10px;

    list-style: none;
    counter-increment: set-counter;

    display: flex;
    align-items: center;
    border-radius: var(--comp-border-radius);
}

.ts-set::before {
    content: counter(set-counter) ".";
}

.ts-set:nth-child(2n) {
    background-color: rgba(0,0,0,.04);
}


.ts-set-handle {
    margin-right: 12px;
    order: -1;
}

.ts-set-name {
    margin: 0 5px 0 2px;
    flex-grow: 1;
}