@charset "utf-8";

.ts-container {
    margin-left: -5px;
}

.training-setup-component {
    /*display: none;*/
    display: flex;
    position: relative;
    flex: 1 0 0;

    padding: var(--comp-default-padding);

    /* Background */
    background-color: white;
    border-radius: var(--comp-border-radius);
    box-shadow: var(--comp-shadow);

    /* Content */
    flex-direction: column;

    --placeholder-color: #0006;
}


/* General Input */

.ts-input {
    border: 1px solid transparent;
    border-radius: var(--comp-border-radius);
    padding: 3px 5px;

    font: 1em "OpenSans Regular", sans-serif;
    text-overflow: ellipsis;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ts-input::placeholder {
    color: var(--placeholder-color);
    font: 1em "OpenSans Regular", sans-serif;
    opacity: 1; /* Firefox */
}

.ts-input:focus {
    outline: none;
    border-color: var(--main-color);
}



/* --- Component Elements --- */

/* Training Name */

.ts-training-name {
    margin: 0px -5px 5px -5px;

    color: var(--main-color);
    font: 24px "Roboto Light", sans-serif;
}

.ts-training-name::placeholder {
    font: 24px "Roboto Light", sans-serif;
}


/* Excercise Container */

.ts-exercise-container {
    flex: 1 1 0;
    padding-top: 10px;
    border-top: 1px solid var(--main-color);

    display: flex;
    flex-direction: column;
    overflow: auto;
}


/* Bottom Controls */

.ts-bottom-controlls {
    margin-top: 15px;

    display: flex;
}

.ts-bottom-controlls > * {
    flex: 1 1 0;
}

.ts-cancel {
    margin-right: 5px;
}



/* --- Exercise Container Elements --- */

.ts-exercise-container > * {
    flex-shrink: 0;
}


/* Training Notes */

.ts-training-notes {
    height: calc(8px + 3 * 1.5em);
    width: 100%;
    background-color: rgba(0,0,0,.04);
    resize: none;

    padding-left: 8px;
    padding-right: 8px;

    color: #000A;
    font-size: .8em;
    line-height: 1.5;
}

.ts-training-notes::placeholder {
    line-height: 1.5;
}

.ts-training-notes:focus {
    background-color: white;
}


/* No Exercise Display */

.ts-no-exercises {
    margin: 2em 1em;
}

.ts-no-exercises:not(:nth-child(2)) {
    display: none;
}

.ts-no-exercises p {
    color: #0006;
    text-align: center;
}

.ts-no-exercises p:not(:last-child) {
    margin-bottom: .6em;
}

.ts-no-exercises strong {
    font-weight: normal;
    color: #000B;
}


/* Add Controls */

.ts-add-controls {
    margin: 0 0 20px;

    display: flex;
    justify-content: center;
}

.ts-add-controls > * {
    flex-basis: 100px;
    height: 30px;

    font-size: .8em;
}

.ts-add-group {
    margin-right: 20px;
}



/* --- Group --- */

.ts-group {
    position: relative;
    padding: var(--comp-default-padding);
    border: 1px solid var(--main-color);
    border-radius: var(--comp-border-radius);
}

.ts-group > * {
    width: 100%;
}


/* Group Controlls */

.ts-group-controlls {
    display: flex;
    justify-content: center;
}

.ts-group-handle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ts-group-close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ts-group-add {
    width: 140px;
    height: calc(.8 * var(--button-height));
    font-size: .8em;
}


/* --- Exercise --- */


/* --- Set --- */