@charset "utf-8";

.tr-sett-container {
    margin-left: -5px;
}

.comp-training-setup {
    /*display: none;*/
    display: flex;
    position: relative;
    flex: 1 0 0;

    padding: var(--comp-default-padding);

    /* Background */
    background-color: white;
    border-radius: var(--comp-border-radius);
    box-shadow: var(--comp-shadow);

    /* Content */
    flex-direction: column;
}

.comp-training-setup > *:not(:last-child) {
    margin-bottom: 5px;
}

.ts-exercise-container {
    flex-grow: 1;

    overflow: auto;
}


/* --- Controls --- */

.ts-controlls {
    display: flex;
}

.ts-controlls > * {
    flex: 1 1 0;
}

.ts-cancel {
    margin-right: 5px;
}

.ts-save {

}


/* --- Group --- */

.ts-group {
    position: relative;
    padding: var(--comp-default-padding);
    border: 1px solid var(--main-color);
    border-radius: var(--comp-border-radius);
}

.ts-group > * {
    width: 100%;
}


/* Group Controlls */
.ts-group-controlls {
    display: flex;
    justify-content: center;
}

.ts-group-handle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ts-group-close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ts-group-add {
    width: 140px;
    height: calc(.8 * var(--button-height));
    font-size: .8em;
}


/* --- Move --- */