@charset "utf-8";


.training-component {
    flex-grow: 1;
    height: 0;

    margin: 15px 0;

    --column-width: 300px;
}

.tc-container {
    width: 100%;
    height: 100%;

    /* Content */
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.tc-container > * {
    flex-shrink: 0;
}


/* No training display */

.tc-no-training {
    /* Position */
    position: absolute;
    left: 50%;                          /* top - set in JS */
    transform: translate(-50%, -50%);

    opacity: .1;
}

.tc-no-training:not(:only-child) {
    display: none;
}


/* Training Info */

.tc-training {
    width: var(--column-width);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tc-training h2 {
    font: normal 24px "OpenSans Regular", sans-serif;
    color: var(--main-color);
    text-align: center;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* Group Container */

.tc-group {
    margin: 0 10px;
    padding: 10px;

    border: 1px solid hsl(0, 0%, 30%);
    border-radius: var(--comp-border-radius);

    /* For dynamic sizing of tcg-container */
    display: flex;
    flex-direction: column;
}

.tcg-header {
    position: sticky;
    left: 10px;

    width: var(--column-width);
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}

.tcg-header h3 {
    color: var(--main-color);
    font: normal 22px "OpenSans Regular", sans-serif;

    /* Overflowing text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tcg-header p {
    font: 40px/.8 "OpenSans Regular", sans-serif;
}

.tcg-container {
    height: 0;
    flex-grow: 1;

    /* Multiple column layout */
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    column-gap: 10px;
}

/* No Group Container */
.tc-no-group {
    height: 100%;

    /* Multiple column layout */
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}


/* --- Excercise --- */

/* Header */

.tc-exercise-header {

    display: flex;
    justify-content: space-between;
    counter-reset: sets;
}

.tc-exercise-header h3 {
    font: normal 22px "OpenSans Regular", sans-serif;

    /* Overflowing text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tc-exercise-header p {
    font: 36px/.8 "OpenSans Regular", sans-serif;
}


/* -- Set -- */

.tc-exercise-set {
    width: var(--column-width);
    padding-left: 1em;

    font-size: 24px;

    display: flex;
}

.tc-exercise-set::before {
    margin-right: .25em;

    content: counter(sets) ".";
    counter-increment: sets;
}

.tcex-container {
    flex-grow: 1;
    width: 0;

    display: inline-flex;
    flex-wrap: wrap;
}

.tcex-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tcex-watches {
    margin-left: auto;
    padding-left: .5em;

    display: flex;
    column-gap: .5em;
}


/* --- Notes --- */

.tc-notes {
    width: var(--column-width);
}