@charset "utf-8";

.settings-component {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--disabled-component-color);
}

.settings-component form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100vw - 2*var(--comp-default-margin));
    max-width: var(--comp-default-width);
    max-height: calc(100vh - 2*var(--comp-default-margin));

    padding: 30px;
    padding-top: 1em;
    border-radius: var(--comp-border-radius);

    background-color: white;
    box-shadow: var(--comp-shadow);

    overflow: auto;
    color: #000A;
}


.sett-close {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 28px;
    height: 28px;
}


/* Headings */

.settings-component h2 {
    text-align: center;
    color: var(--main-color);
    font: normal 28px "OpenSans Light", sans-serif;
}

.settings-component h3 {
    color: var(--main-color);
    font: normal 20px "OpenSans Light", sans-serif;
}


/* Info list */

.sett-info {
    margin: 1em 25px;
}

.settings-component li:not(:last-child) {
    margin-bottom: .5em;
}

.settings-component ::marker {
    color: var(--main-color);
}

.settings-component strong {
    color: black;


/* Attribution */

.settings-component small {
    display: block;
    margin-top: 2rem;

    text-align: center;
}