@charset "utf-8";


.training-component {
    flex-grow: 1;
    height: 0;

    margin: 15px 0;

    --column-width: 300px;
}

.tc-container {
    width: 100%;
    height: 100%;

    /* Content */
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.tc-container > * {
    flex-shrink: 0;
}


/* No training display */

.tc-no-training {
    /* Position */
    position: absolute;
    left: 50%;                          /* top - set in JS */
    transform: translate(-50%, -50%);

    opacity: .1;
}

.tc-no-training:not(:only-child) {
    display: none;
}


/* Training Info */
.tc-training {

}


/* Group Container */
.tc-group {

}

.tc-group > * {

}

/* No Group Container */
.tc-no-group {

}

.tc-group > * {

}

/* --- Excercise --- */

/* Header */
.tc-exercise-header {

}

/* Notes */
.tc-exercise-notes {

}

/* Set */
.tc-exercise-set {

}