@charset "utf-8";



@font-face {
    font-family: "Roboto Light";
    src: url(../res/fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Medium";
    src: url(../res/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans Regular";
    src: url(../res/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans SemiBold";
    src: url(../res/fonts/OpenSans-SemiBold.ttf) format("truetype");
}



html {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    font-size: 16px;
    font-family: "OpenSans Regular", sans-serif;
}

body {
    width: 100%;
    height: 100%;

    --main-color: hsl(209, 100%, 56%);
    --disabled-color: hsl(0, 0%, 65%);

    --button-height: 36px;
    --button-font: 1em "OpenSans Regular", sans-serif;
    --button-color: hsl(209, 100%, 40%);

    --secondary-control-color: hsl(0, 0%, 30%);
    --secondary-color-hover: rgba(0, 0, 0, .08);
    --secondary-color-active: rgba(0, 0, 0, .2);

    --comp-shadow:
        0 0 5px 3px rgba(0,0,0,.1),
        0 5px 15px 10px rgba(0,0,0,.15);

    --comp-shadow-hidden:
        0 0 5px 3px rgba(0,0,0,0),
        0 5px 15px 10px rgba(0,0,0,0);

    --comp-border-radius: 3px;
    --comp-default-padding: 20px;
}


/* --- Screens --- */

.initial-screen {
    /* Position */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Background */
    background:
        linear-gradient(#FFF6, #FFF6),
        linear-gradient(#000, #000),
        center / cover url(../res/images/initial-screen-background.jpg);

    background-blend-mode: normal, saturation, normal;

    /* Content */
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: calc(env(safe-area-inset-left, 10px) - 10px);
    padding-right: calc(env(safe-area-inset-right, 10px) - 10px);
}

/* Temporary disabling */
.initial-screen {
    display: none;
}

.main-screen {
    /* Position */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Content */
    display: flex;
    flex-direction: column;

    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}


/* --- Vertical alignment --- */

.vertical-container {
    --vertical-container-margin: 20px;
    --vertical-container-width: 400px;

    width: var(--vertical-container-width);
    height: calc(100% - 2 * var(--vertical-container-margin));
    margin: 0 var(--vertical-container-margin);

    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* --- No Content Display --- */

.no-content-display {
    margin: 1em;
}

.no-content-display:not(:only-child) {
    display: none;
}

.no-content-display p {
    color: #0006;
    text-align: center;
}

.no-content-display p:not(:last-child) {
    margin-bottom: .6em;
}

.no-content-display strong {
    font-weight: normal;
    color: #000B;
}


/* --- Control Button --- */
/* General styles for buttons */

.control-button {
    height: var(--button-height);

    border: 1px solid var(--button-color);
    border-radius: var(--comp-border-radius);
    background-color: transparent;

    font: var(--button-font);
    color: var(--button-color);
}

.control-button:disabled {
    color: var(--disabled-color);
    border-color: var(--disabled-color);
}


/* --- Close Button --- */

.close-button {
    position: relative;

    width: 26px;
    height: 26px;

    border-radius: var(--comp-border-radius);
}

.close-button::before, .close-button::after {
    display: block;
    content: "";

    /* Position */
    position: absolute;
    top: 50%;
    left: 50%;

    /* Dimensions */
    width: 100%;
    border-top: 2px solid var(--secondary-control-color);
}

.close-button::before {
    width: 80%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
    width: 80%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close-button:hover {
    background-color: var(--secondary-color-hover);
}

.close-button:active {
    background-color: var(--secondary-color-active);
}


/* --- Handle --- */

.handle {
    /* Size */
    height: 12px;
    width: 19px;

    /* Content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    --border: 2px solid var(--secondary-control-color);
}

.handle::before, .handle::after {
    border-top: var(--border);
    content: "";
}

.handle > :only-child {
    border-top: var(--border);
}


/* --- Overlay Disabling --- */
/* Creates pseudo-element overlay so component can't be accessed
    during inproper times (i.e. during animations) */

.overlay-disabling::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    border-radius: var(--comp-border-radius);
    content: "";
}

.overlay-disabling.enable-access::before {
    display: none;
}

.overlay-disabling.visible-disabling::before {
    display: block;
    background-color: #0003;
}

.overlay-disabling.disable-transition::before {
    opacity: 0;
    transition: opacity var(--disable-duration) ease-in-out;
}

.overlay-disabling.disable-tran-progress::before {
    opacity: 1;
}


/* --- Overflow Shadows --- */
/* Shadows to be triggered when overflowing in that direction */

.overflow-shadow-top {
    box-shadow:
        inset 0 10px 10px -10px #0002,
        inset 0 6px 3px -6px #0004;
}

.overflow-shadow-bottom {
    box-shadow:
        inset 0 -10px 10px -10px #0002,
        inset 0 -6px 3px -6px #0004;
}

.overflow-shadow-both {
    box-shadow:
        inset 0 10px 10px -10px #0002,
        inset 0 6px 3px -6px #0004,
        inset 0 -10px 10px -10px #0002,
        inset 0 -6px 3px -6px #0004;
}


/* --- Overview Animations --- */

@keyframes ov-fade-in {
    from {
        top: var(--from);
    }
    70% {
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes ov-fade-out {
    from {
        top: 0;
    }
    to {
        top: 50px;
        opacity: 0;
    }
}
