@charset "utf-8";



@font-face {
    font-family: "Roboto Light";
    src: url(../res/fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Medium";
    src: url(../res/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans Regular";
    src: url(../res/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans Light";
    src: url(../res/fonts/OpenSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans SemiBold";
    src: url(../res/fonts/OpenSans-SemiBold.ttf) format("truetype");
}



html {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    touch-action: pan-x pan-y;  /* Disables zoom on multiple tap */

    font-size: 16px;
    font-family: "OpenSans Regular", sans-serif;
}

body {
    width: 100%;
    height: 100%;

    --main-color: hsl(209, 100%, 56%);
    --disabled-control-color: hsl(0, 0%, 65%);
    --disabled-component-color: #0003;
    --placeholder-color: hsl(0, 0%, 50%);
    --name-color: hsl(209, 100%, 40%);

    --button-height: 36px;
    --button-font: 1em "OpenSans Regular", sans-serif;
    --button-color: hsl(209, 100%, 40%);

    --secondary-control-color: hsl(0, 0%, 30%);
    --secondary-color-hover: rgba(0, 0, 0, .08);
    --secondary-color-active: rgba(0, 0, 0, .2);

    --secondary-watch-color: #0009;

    --running-color: hsl(0, 80%, 45%);
    --running-pause-color: hsl(120, 100%, 35%);

    --comp-shadow:
        0 0 5px 3px rgba(0,0,0,.1),
        0 5px 15px 10px rgba(0,0,0,.15);

    --comp-border-radius: 3px;
    --comp-default-padding: 20px;
    --comp-default-margin: 20px;
    --comp-default-width: 400px;
}


/* --- Screens --- */

.initial-screen {
    display: none;

    /* Position */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    /* Background */
    background:
        linear-gradient(#FFF6, #FFF6),
        linear-gradient(#000, #000),
        center / cover url(../res/images/initial-screen-background.jpg);

    background-blend-mode: normal, saturation, normal;

    /* Content */
    justify-content: center;
    align-items: center;

    padding-left: calc(env(safe-area-inset-left, 10px) - 10px);
    padding-right: calc(env(safe-area-inset-right, 10px) - 10px);
}

.main-screen {
    display: none;

    /* Position */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;

    /* Content */
    flex-direction: column;
}

.initial-screen.display, .main-screen.display {
    display: flex;
    opacity: 0;
    animation: screen-fade-in forwards;
}

.initial-screen.hide, .main-screen.hide {
    display: flex;
    opacity: 1;
    animation: screen-fade-out forwards;
}

    @keyframes screen-fade-in {
        to { opacity: 1; }
    }

    @keyframes screen-fade-out {
        to { opacity: 0; }
    }


/* --- Vertical alignment --- */

.vertical-container {
    width: var(--comp-default-width);
    height: calc(100% - 2 * var(--comp-default-margin));
    margin: 0 var(--comp-default-margin);
    flex-shrink: 1;

    /* Content */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* --- No Content Display --- */

.no-content-display {
    margin: 1em;
}

.no-content-display:not(:only-child) {
    display: none;
}

.no-content-display p {
    color: #0006;
    text-align: center;
}

.no-content-display p:not(:last-child) {
    margin-bottom: .6em;
}

.no-content-display strong {
    font-weight: normal;
    color: #000B;
}


/* --- Control Button --- */
/* General styles for buttons */

.control-button {
    height: var(--button-height);

    border: 1px solid var(--button-color);
    border-radius: var(--comp-border-radius);
    background-color: transparent;

    font: var(--button-font);
    color: var(--button-color);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (any-hover: hover) {
    .control-button:hover {
        color: var(--main-color);
        border-color: var(--main-color);
        cursor: pointer;
    }
}

.control-button:active {
    color: white;
    border-color: var(--main-color);
    background-color: var(--main-color);
}

.control-button:disabled {
    color: var(--disabled-control-color);
    border-color: var(--disabled-control-color);
    background-color: transparent;
    cursor: auto;
}


/* --- Close Button --- */

.close-button {
    position: relative;

    width: 26px;
    height: 26px;

    border-radius: var(--comp-border-radius);

    /* Removing default button styles */
    border: none;
    background: none;
}

.close-button::before, .close-button::after {
    display: block;
    content: "";

    /* Position */
    position: absolute;
    top: 50%;
    left: 50%;

    /* Dimensions */
    width: 82%;
    border-top: 2px solid var(--secondary-control-color);
}

.close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (any-hover: hover) {
    .close-button:hover {
        background-color: var(--secondary-color-hover);
        cursor: pointer;
    }
}

.close-button:active {
    background-color: var(--secondary-color-active);
}


/* --- Handle --- */

.handle {
    /* Size */
    height: 12px;
    width: 19px;

    /* Content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --handle-color: var(--secondary-control-color);   /* Redefinable color */
    --border: 2px solid var(--handle-color);
}

.handle::before, .handle::after {
    border-top: var(--border);
    content: "";
}

.handle > :only-child {
    border-top: var(--border);
}


/* --- General Input --- */

.text-input {
    border: 1px solid transparent;
    border-radius: var(--comp-border-radius);
    padding: 3px 5px;

    background-color: transparent;

    font: 1em "OpenSans Regular", sans-serif;
    text-overflow: ellipsis;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-input::placeholder {
    color: var(--placeholder-color);
    font: 1em "OpenSans Regular", sans-serif;
    opacity: 1; /* Firefox */
}

.text-input:focus {
    outline: none;
    border-color: var(--main-color);
    background-color: white;
}


/* --- General Notes --- */
/* Requires text-input */

.notes {
    height: calc(8px + 2*1.5em);
    background-color: rgba(0,0,0,.04);
    resize: none;

    padding-left: 6px;
    padding-right: 6px;

    color: #000C;
    font-size: .8em;
    line-height: 1.5;
}

.notes::placeholder {
    line-height: 1.5;
}


/* --- Overlay Disabling --- */
/* Creates pseudo-element overlay so component can't be accessed
    during improper times (i.e. during animations) */

.overlay-disabling::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    border-radius: var(--comp-border-radius);
    content: "";
}

.overlay-disabling.enable-access::before {
    display: none;
}

    /* Visible disabling with intro/outro animation */
.overlay-disabling.disable-visible-display::before {
    display: block;
    background-color: var(--disabled-component-color);
    animation: disabling-display var(--disable-anim-duration, 0s) ease-in-out forwards;
}

    @keyframes disabling-display {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

.overlay-disabling.disable-visible-hide::before {
    display: block;
    background-color: var(--disabled-component-color);
    animation: disabling-hide var(--disable-anim-duration, 0s) ease-in-out forwards;
}

    @keyframes disabling-hide {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }


/* --- Fade In/Out Animations --- */

@keyframes fade-in {
    from {
        top: var(--from);
    }
    70% {
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        top: 0;
    }
    to {
        top: 50px;
        opacity: 0;
    }
}
