@charset "utf-8";

.overview-component {
    display: none;
    position: relative;

    /* Dimensions */
    max-height: 450px;
    min-height: 284px;
    flex: 1 0 0;

    padding: 13px var(--comp-default-padding) var(--comp-default-padding);

    /* Background */
    background-color: white;
    border-radius: var(--comp-border-radius);
    box-shadow: var(--comp-shadow);
    transition: box-shadow ease-in-out;  /* When hiding under setup component */

    /* Content */
    flex-direction: column;
}


    /* Fade in/out animations */
.overview-component.display {
    display: flex;
    opacity: 0;

    --from: -50px;
    animation: fade-in .7s .5s forwards;
}

.overview-component.hide {
    display: flex;
    animation: fade-out .7s .2s forwards;
}


/* --- Headings --- */
.overview-component h1 {
    padding-bottom: 3px;

    color: var(--main-color);
    text-align: center;

    font: 32px "Roboto Medium", sans-serif;
}

.overview-component h2 {
    font: 16px "OpenSans SemiBold", sans-serif;
}


/* --- Training list --- */
.ov-training-list {
    flex: 1 0 0;        /* flex-shrink is overwritten by higher priority rule
                        above to the same value 0 */
    padding-left: 15px;
    overflow: auto;

    /* Content */
    display: flex;
    flex-direction: column;
}


/* --- No Trainings Display --- */
.ov-no-trainings {
    margin: auto 1em auto calc(1em - 15px);
}


/* --- Trainings --- */

.ov-training:nth-child(2) {
    margin-top: 10px;
}

.ov-training label {
    padding: 10px 0;
    border-bottom: 1px solid var(--main-color);

    /* Content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ov-training:nth-child(2) label {
    border-top: 1px solid var(--main-color);
}

.ov-training:last-child {
    margin-bottom: 5px;
}

.ovt-name {
    margin: 0 10px;
}

.ov-training .handle {
    margin: 0 10px;
}

/* Selected state */
.ov-training :checked + label {
    color: white;
    background-color: hsl(209, 100%, 70%);
}

.ov-training :checked + label .handle {
    --handle-color: white;
}


/* --- Controls --- */
.ov-controls {
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
}

.ov-controls > * {
    margin-top: 5px;
}

.ov-open-timer, .ov-open-training {
    width: 100%;
}

.ov-create, .ov-edit {
    flex: 1 1 0;
    margin-right: 5px;
}

.ov-open-training, .ov-edit {   /* Initial display state */
    display: none;
}

.ov-delete {
    flex: 1 1 0;
    margin-right: 5px;
}

.ov-settings {
    --background:
        center/contain no-repeat content-box url("../res/icons/cog-wheel.jpg");

    width: var(--button-height);
    background: var(--background);
}

.ov-settings:disabled {
    /* Settings button is being disabled during fade in/out animations.
       This disabling shouldn't be visible. */
    border-color: var(--button-color);
}
