@charset "utf-8";

.ov-container {
    --animation-speed: .4s;

    height: 0;
    transition: height var(--animation-speed) ease-in-out;

    /* For Floating mode */
    top: 50%;
    left: 50%;
}

.overview-settings-component {
    display: none;
    position: relative;

    margin-top: 10px;
    padding: var(--comp-default-padding);
    border-radius: var(--comp-border-radius);

    background-color: white;
    box-shadow: var(--comp-shadow);
}

    /* Fade in/out animations */
.overview-settings-component.display {
    display: block;
    opacity: 0;

    --from: 50px;
    animation: fade-in var(--animation-speed) forwards ease-in-out;
}

.overview-settings-component.hide {
    display: block;
    animation: fade-out var(--animation-speed) forwards ease-in-out;
}


.overview-settings-component p {
    margin: 0 20px;

    text-align: center;
    font-size: 14px;
}


/* --- Controls --- */
.ovs-close {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 28px;
    height: 28px;
}

.ovs-controls {
    display: flex;
    margin-top: 1em;
}

.ovs-controls > * {
    flex-grow: 1;
}

.ovs-export {
    margin-right: 5px;
}
