@charset "utf-8";

.overview-component {
    display: none;
    position: relative;

    /* Dimensions */
    max-height: 455px;
    min-height: 284px;
    flex: 1 0 0;

    padding: 13px var(--comp-default-padding) var(--comp-default-padding);

    /* Background */
    background-color: white;
    border-radius: var(--comp-border-radius);
    box-shadow: var(--comp-shadow);
    transition: box-shadow ease-in-out;  /* When hiding under setup component */

    /* Content */
    flex-direction: column;
}


    /* Fade in/out animations */
.overview-component.display {
    display: flex;
    opacity: 0;

    --from: -50px;
    animation: fade-in .7s forwards;
}

.overview-component.hide {
    display: flex;
    animation: fade-out .7s forwards;
}


/* --- Headings --- */
.overview-component h1 {
    padding-bottom: 3px;

    color: var(--main-color);
    text-align: center;

    font: 32px "Roboto Medium", sans-serif;
}

.overview-component h2 {
    font: 16px "OpenSans SemiBold", sans-serif;
}


/* --- Training list --- */
.ov-training-list {
    flex: 1 0 0;        /* flex-shrink is overwritten by higher priority rule
                        above to the same value 0 */
    padding-left: 15px;
    overflow: auto;

    /* Content */
    display: flex;
    flex-direction: column;

    --item-height: 43px;
}


/* --- No Trainings Display --- */
.ov-no-trainings {
    margin: auto 1em auto calc(1em - 15px);
}


/* --- Trainings --- */
.ov-training {
    position: relative;

    height: var(--item-height);
    overflow: hidden;
    transition: height .4s;
}

.ov-training:nth-child(2), .ov-dropzone:nth-child(2) {
    margin-top: 10px;
    border-top: 1px solid var(--main-color);
}

.ov-training:last-child, .ov-dropzone:last-child {
    margin-bottom: 5px;
}

/* Displaying/hiding transition */
.ov-training.hidden {
    height: 0;
}

.ov-training.hidden:nth-child(2) {
    height: 1px;
}


.ov-training label {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: var(--item-height);
    border-bottom: 1px solid var(--main-color);
    background-color: white;

    /* Content */
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.ovt-name {
    margin-left: 10px;
    flex-shrink: 1;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ovt-move {
    height: calc(100% + 1px);   /* Must go over items border line */
    padding: 0 10px;

    cursor: move;

    /* Content */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Selected state */
.ov-training :checked + label {
    color: white;
    background-color: hsl(209, 100%, 70%);

    cursor: auto;
}

.ov-training :checked + label .handle {
    --handle-color: white;
}

/* Dragging */

.ov-training.dragged label {
    border: 1px solid var(--main-color);
}

.ov-dropzone {
    height: var(--item-height);
    border-bottom: 1px solid var(--main-color);

    background: center/calc(100% - 10px) calc(100% - 10px) no-repeat
        linear-gradient(hsl(0, 0%, 95%), hsl(0, 0%, 95%));
}


/* --- Controls --- */

.ov-controls {
    margin-top: 5px;

    display: flex;
    flex-wrap: wrap;
}

.ov-controls > * {
    margin-top: 5px;
}

.ov-open-timer, .ov-open-training {
    width: 100%;
}

.ov-create, .ov-edit {
    flex: 1 1 0;
    margin-right: 5px;
}

.ov-open-training, .ov-edit {   /* Initial display state */
    display: none;
}


/* Delete button */

.ov-delete {
    flex: 1 1 0;
    margin-right: 5px;

    --delete-color: hsl(0, 80%, 40%);
    --delete-hover-color: hsl(0, 90%, 50%);

    color: var(--delete-color);
    border-color: var(--delete-color);
}

@media (any-hover: hover) {
    .ov-delete:hover {
        color: var(--delete-hover-color);
        border-color: var(--delete-hover-color);
    }
}

.ov-delete:active {
    color: white;
    border-color: var(--delete-hover-color);
    background-color: var(--delete-hover-color);
}

.ov-delete:disabled {
    color: var(--disabled-control-color);
    border-color: var(--disabled-control-color);
    background-color: transparent;
    cursor: auto;
}


/* Settings button */

.ov-settings {
    --background:
        center/contain no-repeat content-box url("../res/icons/cog-wheel.jpg");

    width: var(--button-height);
    background: var(--background);
}

.ov-settings:active {
    background:
        linear-gradient(var(--main-color), var(--main-color)),
        linear-gradient(white, white),
        linear-gradient(white, white),
        var(--background), white;
    background-blend-mode: screen, overlay, difference, normal;
}

.ov-settings:disabled {
    /* Settings button is being disabled during fade in/out animations.
       This disabling shouldn't be visible. */
    border-color: var(--button-color);
}
