@charset "utf-8";

/* for older browsers not supporting HTML5 */
article, aside, figcaption, figure, footer, main, header, menu, nav, section {
    display: block;
}

:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}