@charset "utf-8";

.ts-container {
    --animation-speed: .7s;

    margin-left: 0;
    margin-right: 0;
    width: 0;
}

.ts-container.display, .ts-container.hide {
    margin-left: -5px;
    margin-right: var(--comp-default-margin);
    width: var(--comp-default-width);
}

.ts-container.display.animate {
    animation: ts-cont-display var(--animation-speed) ease-in-out;
}

.ts-container.hide.animate {
    animation: ts-cont-hide var(--animation-speed) ease-in-out;
}

    @keyframes ts-cont-display {
        from {
            margin-left: 0;
            margin-right: 0;
            width: 0;
        }
        to {
            margin-left: -5px;
            margin-right: var(--comp-default-margin);
            width: var(--comp-default-width);
        }
    }

    @keyframes ts-cont-hide {
        from {
            margin-left: -5px;
            margin-right: var(--comp-default-margin);
            width: var(--comp-default-width);
        }
        to {
            margin-left: 0;
            margin-right: 0;
            width: 0;
        }
    }

.training-setup-component {
    --placeholder-color: #0006;

    display: none;
    position: relative;
    flex: 1 0 0;

    padding: var(--comp-default-padding);

    /* Background */
    background-color: white;
    border-radius: var(--comp-border-radius);
    box-shadow: var(--comp-shadow);

    /* Content */
    flex-direction: column;
}

    /* Fade in/out animations */
.training-setup-component.display {
    display: flex;
    opacity: 0;

    animation: ts-fade-in var(--animation-speed) forwards ease-in-out;
}

    @keyframes ts-fade-in {
        from {
            left: 50px;
        }
        70% {
            opacity: 1;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }

.training-setup-component.hide {
    display: flex;
    animation: ts-fade-out var(--animation-speed) forwards ease-in-out;
}

    @keyframes ts-fade-out {
        from {
            left: 0;
        }
        30% {
            opacity: 1;
        }
        to {
            left: 50px;
            opacity: 0;
        }
    }

    /* Alternative display for narrow viewport */
@media (max-width: 700px) {
    .ts-container.ts-container {
        display: none;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        margin-left: 0;
        margin-right: 0;

        max-width: var(--comp-default-width);
        width: calc(100% - 2* var(--comp-default-margin));
    }

    .ts-container.display, .ts-container.hide {
        display: flex;
    }
}


/* ===== Component Elements ===== */

/* Training Name */

.ts-training-name {
    margin: 0px -6px 2px -6px;

    color: var(--name-color);
    font: normal 26px "Roboto Light", sans-serif;
}

.ts-training-name::placeholder {
    font: 24px "Roboto Light", sans-serif;
}


/* Scroll Container */

.ts-scroll-container {
    position: relative;     /* For sticky line effect */

    flex: 1 1 0;
    padding-top: 3px;
    border-top: 1px solid transparent;

    display: flex;
    flex-direction: column;
    overflow: auto;
}


/* Bottom Controls */

.ts-bottom-controlls {
    margin-top: 15px;

    display: flex;
}

.ts-bottom-controlls > * {
    flex: 1 1 0;
}

.ts-cancel {
    margin-right: 5px;
}


/* --- Scroll Container Elements --- */

/* Training Notes */

.ts-training-notes {
    margin-bottom: 10px;
    width: 99.99999%;       /* Fix width for Safari */
}


/* Group Container */

.ts-group-container {
    --left-right-padding: 5px;

    padding: 0 var(--left-right-padding);
    border-top: 1px solid var(--main-color);

    display: flex;
    flex-direction: column;
}

/* No Exercises Display */

.ts-no-exercises {
    position: absolute;
    z-index: -1;
    margin: 1em calc(1em - var(--left-right-padding));
}

.ts-no-exercises:not(:only-child) {
    display: block;                    /* Keep visible */
}


/* Add Controls */

.ts-add-controls {
    margin: 0 0 20px;

    display: flex;
    justify-content: center;
}

.ts-add-controls > * {
    flex-basis: 100px;
    height: 32px;

    font-size: .8em;
}

.ts-add-group {
    margin-right: 20px;
}



/* ===== Group + No-Group ===== */

.ts-group {
    position: relative;
    padding: 0px 10px 15px;

    border: 1px solid hsl(0, 100%, 40%);
    border-radius: var(--comp-border-radius);
    background-color: white;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ts-group.display {
    animation: group-fan-out .4s forwards ease-in-out;
}

.ts-group.hide {
    animation: group-fan-out .4s reverse forwards ease-in-out;
}

    @keyframes group-fan-out {
        from {
            height: 0;
            padding-bottom: 0;
            padding-top: 0;
            margin-bottom: 3px;
        }
    }

.ts-no-group {
    padding: 0 11px;    /* 1px for group border */
    background-color: white;
}

.ts-group:nth-child(2), .ts-no-group:nth-child(2) {
    margin-top: 10px;
}

.ts-group:not(:last-child), .ts-no-group:not(:last-child) {
    margin-bottom: 10px;
}

.ts-group:last-child, .ts-no-group:last-child {
    margin-bottom: 15px;
}


/* Content */

.ts-group-name {
    margin: 30px -6px 5px;

    color: var(--name-color);
    font: normal 21px "Roboto Light", sans-serif;
}

.ts-group-no-exercises {
    position: absolute;
    margin: 1.5em 1em calc(1.5em - 15px);
}

.ts-group-no-exercises:not(:only-child) {
    display: block;                         /* Keep visible */
}


/* Group Controlls */

.ts-group-controls {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.ts-group-handle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ts-group-close {
    position: absolute;
    top: 3px;
    right: 2px;
}

.ts-group-add {
    width: 100px;
    height: 32px;
    font-size: .8em;
}


/* ===== Exercise ===== */

.ts-exercise {
    position: relative;
    padding: 0px 10px 10px;

    border-bottom: 1px solid var(--main-color);
    background-color: white;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ts-exercise.display {
    animation: exercise-fan-out .4s forwards ease-in-out;
}

.ts-exercise.hide {
    animation: exercise-fan-out .4s reverse forwards ease-in-out;
}

    @keyframes exercise-fan-out {
        from {
            height: 0;
            padding-bottom: 0;
        }
    }

.ts-group .ts-exercise:nth-child(2) {
    margin-top: 10px;
    border-top: 1px solid var(--main-color);
}

.ts-no-group .ts-exercise:first-child {
    border-top: 1px solid var(--main-color);
}


/* Content */

.ts-exercise-name {
    margin: 30px -6px 5px;

    color: var(--name-color);
    font: normal 18px "Roboto Light", sans-serif;
}

.ts-exercise-notes {
    margin-bottom: 10px;
}

.ts-exercise-controls {
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
}

.ts-exercise-set-container {
    counter-reset: set-counter;
}


/* Controls */

.ts-exercise-handle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ts-exercise-close {
    position: absolute;
    top: 3px;
    right: 2px;
}

.ts-exercise-add-set {
    width: 80px;
    height: 28px;
    font-size: .8em;
}



/* ===== Set ===== */

.ts-set {
    padding: 3px 5px 3px 10px;

    list-style: none;
    counter-increment: set-counter;

    display: flex;
    align-items: center;
    border-radius: var(--comp-border-radius);
}

.ts-set::before {
    content: counter(set-counter) ".";
}

.ts-set:nth-child(even) {
    background-color: rgba(0,0,0,.04);
}


/* Content */

.ts-set-handle {
    margin-right: 12px;
    order: -1;
}

.ts-set-name {
    margin: 0 5px 0 2px;
    flex-grow: 1;

    color: #000C;
}

.ts-set-name::placeholder {
    color: #0009;
}