@charset "utf-8";


.stopwatch-component {
    position: relative;

    box-shadow:
        0 1px 5px 0 rgba(0,0,0,.1),
        0 3px 15px 0 rgba(0,0,0,.15);

    display: flex;
    justify-content: center;

    --sec-butt-offset-top: 5px;
    --sec-butt-offset-left:  max(var(--sec-butt-offset-top),
                                 env(safe-area-inset-left));
    --sec-butt-offset-right: max(var(--sec-butt-offset-top),
                                 env(safe-area-inset-right));

    --sec-butt-size: clamp(26px, 3.5vw, 42px);

    /* Margins wide enough not to interfere with secondary buttons */
    --margin-left: calc(var(--sec-butt-offset-left) + var(--sec-butt-size)
                        + var(--sec-butt-offset-top));
    --margin-right: calc(var(--sec-butt-offset-right) + var(--sec-butt-size)
                        + var(--sec-butt-offset-top));
    --margin-between: 4vw;
}


/* Containers */

.st-first-container, .st-second-container {
    display: flex;
    flex-direction: column;
}

.st-first-container > *, .st-second-container > * {
    flex: 0 0 auto;
}

.st-first-container {
    margin-left: var(--margin-left);
    margin-right: var(--margin-between);
}

.st-second-container {
    margin-right: var(--margin-right);
}


/* Portrait mode */

@media (orientation: portrait) {
    .stopwatch-component {
        --sec-butt-size: clamp(36px, 4vw, 42px);

        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }

    .st-first-container, .st-second-container {
        margin: 0 var(--margin-left) 0 var(--margin-right);
    }
}


/* Headings */

.stopwatch-component h2 {
    color: var(--main-color);
    font-family: "OpenSans Regular", sans-serif;
    font-weight: normal;

    /* Aligning text */
    display: flex;
    align-items: center;
    padding-left: .2em;
}


/* Watches */

.st-current-stopwatch, .st-total-stopwatch {
    margin: -.055em -.055em 0 -.055em;    /* used in JS */
        /* Fix for font that creates unneeded paddings */

    color: #000D;
    font-family: "OpenSans Regular", sans-serif;
    line-height: .8;
}

.st-current-stopwatch {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Running watch */
.st-current-stopwatch.running-set {
    color: hsl(0, 80%, 40%);
}

.st-current-stopwatch.running-pause {
    color: hsl(120, 100%, 25%);
}


/* Main controls */
/* margin, space between, font-size, borders are set in JS */

.st-main-controls {
    flex: 1 0;

    display: flex;
    align-items: stretch;
}

.st-main-controls > * {
    flex: 1 0 0;
    height: unset;
}

.st-start, .st-stop, .st-next, .st-continue {
    flex-grow: 2;
}

.st-filler-left, .st-filler-right {
    border-style: solid;
    border-color: transparent;
}

.st-next.spacebar-active {
    color: white;
    border-color: var(--main-color);
    background-color: var(--main-color);
}


/* Secondary controls */

.ts-settings {
    position: absolute;
    top: var(--sec-butt-offset-top);
    left: var(--sec-butt-offset-left);

    width: var(--sec-butt-size);
    height: var(--sec-butt-size);

    border-color: transparent;

    --background:
        center/contain no-repeat content-box url("../res/icons/cog-wheel.jpg");

    background: var(--background);
}

.ts-settings:hover {
    border-color: transparent;
    background: linear-gradient(var(--secondary-color-hover),
                                var(--secondary-color-hover)),
                var(--background);
}

.ts-settings:active {
    border-color: transparent;
    background: linear-gradient(var(--secondary-color-active),
                                var(--secondary-color-active)),
                var(--background);
}


.ts-close {
    position: absolute;
    top: var(--sec-butt-offset-top);
    right: var(--sec-butt-offset-right);

    width: var(--sec-butt-size);
    height: var(--sec-butt-size);
}