@charset "utf-8";


.training-component {
    height: 0;
    flex-grow: 1;
    align-self: center;
    max-width: 100%;

    margin-top: 15px;

    --column-width: 15em;
    --gap: 1em;

    --border-width: .1em;
    --border-color: hsl(209, 100%, 70%);
    --border-radius: .35em;

    --border: var(--border-width) solid var(--border-color);
    --shadow: .1em .1em .15em #0002;

    --background-color1: hsl(209, 100%, 95%);
    --background-color2: hsl(209, 100%, 98%);

    --notes-tb-padding: .4em;    /* Top Bottom */
    --notes-lr-padding: .6em;    /* Left Right */
}

.tc-container {
    width: 100%;
    height: 100%;
    padding-left: max(.5em, env(safe-area-inset-left, 0));

    /* Content */
    display: flex;
    flex-direction: row;
    overflow: auto;

    scroll-snap-type: x mandatory;
}

.tc-container::after{   /* Fix for right padding not working in Safari */
    flex-shrink: 0;
    content: "";

    width: env(safe-area-inset-right, 0);
}


.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Notes button */

.notes-button {
    width: 1.5em;
    height: 1.5em;
    padding: .25em;

    border-radius: var(--comp-border-radius);
    font-size: inherit;

    /* Removing default styles */
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.notes-button:hover {
    background-color: var(--secondary-color-hover);
}

.notes-button:active {
    background-color: var(--secondary-color-active);
}

.notes-button img {
    width: 1em;
    opacity: .5;
}


/* No training display */

.tc-no-training {
    /* Position */
    position: absolute;
    left: 50%;                          /* top - set in JS */
    transform: translate(-50%, -50%);

    opacity: .1;
}

.tc-no-training:not(:only-child) {
    display: none;
}


/* --- Training Info --- */

.tc-training {
    margin-right: var(--gap);
    width: var(--column-width);

    /* Content */
    display: flex;
    flex-direction: column;
    align-items: center;

    scroll-snap-align: center;
}

.tc-training h2 {
    margin: .5em 0 .75em;

    font: normal 1.2em "OpenSans Regular", sans-serif;
    color: var(--main-color);
    text-align: center;
}

.tct-notes {
    display: none;
    width: 100%;
    height: calc(2*1.5em + 2*var(--notes-tb-padding) + 2px);
    flex-shrink: 1;

    margin-bottom: 0.938em;
    padding: var(--notes-tb-padding) var(--notes-lr-padding);
    font-size: .8em;

    border: calc(var(--border-width) / .8) solid var(--border-color);
    border-radius: var(--border-radius);

    background-color: var(--background-color2);
    box-shadow: var(--shadow);
}

.tct-notes:focus {
    background-color: var(--background-color2);
}


/* --- Group Container --- */

.tc-group {
    margin: 0 var(--gap) .75em 0;
    padding: .5em 0 0 .5em;

    border: var(--border-width) solid var(--main-color);
    border-radius: var(--border-radius);

    /* For dynamic sizing of tcg-container */
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
}

.tcg-header {
    position: sticky;
    left: 0;

    width: var(--column-width);
    margin-right: .5em;

    display: flex;
    align-items: center;
}

.tcg-right {
    margin-left: auto;
    padding-left: .5em;

    display: flex;
    align-items: center;
}

.tcg-heading {
    margin-top: -.1em;
    color: var(--main-color);
    font: normal 1.1em "OpenSans Regular", sans-serif;
}

.tcg-notes-button {
    margin-right: .5em;
}

.tcg-watch {
    margin-top: -.08em;
    font: 2em/.8 "OpenSans Regular", sans-serif;
}

.tcg-container {
    height: 0;
    flex-grow: 1;
    padding-top: .5em;

    /* Multiple column layout */
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

/* Notes */
.tcg-notes {
    display: none;
    width: calc(var(--column-width) / .8);
    height: calc(2*1.5em + 2*var(--notes-tb-padding) + 2px);
    flex-shrink: 1;

    margin: 0 .625em .625em 0;
    padding: var(--notes-tb-padding) var(--notes-lr-padding);
    font-size: .8em;

    border: calc(var(--border-width) / .8) solid var(--border-color);
    border-radius: var(--border-radius);

    background-color: var(--background-color2);
    box-shadow: var(--shadow);

    scroll-snap-align: center;
}

.tcg-notes:focus {
    background-color: var(--background-color2);
}


/* --- No Group Container --- */

.tc-no-group {
    height: 100%;
    margin: .5em calc(var(--gap) - .5em) 0 0;
    padding-bottom: .25em;

    /* Multiple column layout */
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}


/* --- Exercise --- */

.tc-exercise {
    width: var(--column-width);
    max-height: calc(100% - .5em);
    margin: 0 .5em .5em 0;

    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: 0 0 .3em .05em transparent, var(--shadow);

    background-color: var(--background-color1);

    /* Content */
    display: flex;
    flex-direction: column;

    scroll-snap-align: center;
}


/* Header */

.tce-header {
    padding: .5em;
    border-bottom: 1px solid var(--border-color);

    /* Content */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tce-right {
    margin-left: auto;
    padding-left: .5em;

    display: flex;
    align-items: center;
}

.tce-name {
    font: normal 1.1em "OpenSans Regular", sans-serif;
    color: hsl(209, 100%, 50%);
}

.tce-notes-button {
    margin-right: .5em;
}

.tce-watch {
    margin: -.05em -.02em 0 0;
    font: 1.8em/.8 "OpenSans Regular", sans-serif;
}


/* Content */

.tce-container {
    flex-shrink: 1;
    overflow: auto;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    counter-reset: sets;

    /* Content */
    display: flex;
    flex-direction: column;
}

.tce-container.odd > :nth-child(odd) {
    background-color: var(--background-color2);
}

.tce-container.even > :nth-child(even) {
    background-color: var(--background-color2);
}

.tce-notes {
    display: none;
    width: 100%;
    height: calc(2*1.5em + 2*var(--notes-tb-padding));
    padding: var(--notes-tb-padding) var(--notes-lr-padding);

    border: none;
    border-radius: 0;

    background-color: transparent;
}

.tce-notes:focus {
    border: none;
}


/* Active exercise */

.tc-exercise.active-set {
    border-color: var(--active-set-color);
}

.tc-exercise.active-set .tce-name {
    color: var(--active-set-color);
}


.tc-exercise.active-pause {
    border-color: var(--active-pause-color);
}

.tc-exercise.active-pause .tce-name {
    color: var(--active-pause-color);
}


.tc-exercise.next {
    animation: next-exercise 2.5s ease-in-out infinite;
}

    @keyframes next-exercise {
        20% {
            border-color: hsl(0, 80%, 45%);
            box-shadow: 0 0 .3em .05em hsla(0, 80%, 45%, .3), var(--shadow);
        }
        80% {
            border-color: hsl(0, 80%, 45%);
            box-shadow: 0 0 .3em .05em hsla(0, 80%, 45%, .3), var(--shadow);
        }
    }


/* --- Set --- */

.tc-exercise-set {
    padding: .15em .5em .2em 1.5em;

    display: flex;
    font-size: 1.2em;
}

.tc-exercise-set::before {
    margin-right: .25em;

    content: counter(sets) ".";
    counter-increment: sets;
}

.tcex-container {
    flex-grow: 1;
    width: 0;

    display: inline-flex;
    flex-wrap: wrap;
}

.tcex-watches {
    margin-left: auto;
    padding-left: .45em;

    font-size: 1.05em;
    line-height: .8;

    display: flex;
    align-items: center;
}

.tcex-set-watch {
   margin-right: .45em;
}

.tcex-pause-watch {
    color: var(--secondary-watch-color);
}

/* Active set */
.tc-exercise-set.active-set::before {
    color: var(--active-set-color);
}

.tc-exercise-set.active-set .tcex-name {
    color: var(--active-set-color);
}

.tc-exercise-set.active-set .tcex-set-watch {
    color: var(--active-set-color);
}

/* Active pause */
.tc-exercise-set.active-pause::before {
    color: var(--active-pause-color);
}

.tc-exercise-set.active-pause .tcex-name {
    color: var(--active-pause-color);
}

.tc-exercise-set.active-pause .tcex-pause-watch {
    color: var(--active-pause-color);
}