@charset "utf-8";


.training-component {
    height: 0;
    flex-grow: 1;
    align-self: center;
    max-width: 100%;

    margin-top: 15px;

    --column-width: 15em;
    --gap: 1em;

    --border-width: max(.1em, 1px);
    --border-color: hsl(209, 100%, 70%);
    --border-radius: .35em;

    --border: var(--border-width) solid var(--border-color);
    --shadow: .1em .1em .15em #0002;

    --background-color1: hsl(209, 100%, 95%);
    --background-color2: hsl(209, 100%, 98%);

    --notes-tb-padding: .4em;    /* Top Bottom */
    --notes-lr-padding: .6em;    /* Left Right */
}

.tc-container {
    width: 100%;
    height: 100%;

    /* Content */
    display: flex;
    flex-direction: row;
    overflow: auto hidden;

    scroll-snap-type: x mandatory;
}

.tc-container::after {    /* Fix for final right margin not working in Safari */
    flex-shrink: 0;
    content: "";
    width: max(var(--gap),env(safe-area-inset-right, 0));
}


/* Notes button */

.notes-button {
    width: 1.5em;
    height: 1.5em;
    padding: .25em;

    border-radius: var(--comp-border-radius);
    font-size: inherit;

    /* Removing default styles */
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.notes-button:hover {
    background-color: var(--secondary-color-hover);
}

.notes-button:active {
    background-color: var(--secondary-color-active);
}

.notes-button img {
    width: 1em;
    opacity: .5;
}


/* No training display */

.tc-no-training {
    /* Position */
    position: absolute;
    left: 50%;                          /* top - set in JS */
    transform: translate(-50%, -50%);

    opacity: .1;

    background:
        linear-gradient(hsl(209, 100%, 56%), hsl(209, 100%, 56%)),
        center/contain no-repeat url(../res/icons/app-icon.png),
        white;
    background-blend-mode: lighten, normal;
}

.tc-no-training:not(:only-child) {
    display: none;
}


/* --- Training Info --- */

.tc-training {
    margin-left: max(var(--gap), env(safe-area-inset-left, 0));
    margin-right: var(--gap);
    margin-bottom: .75em;
    width: var(--column-width);

    /* Content */
    display: flex;
    flex-direction: column;
    align-items: center;

    scroll-snap-align: center;
}

.tct-heading {
    margin: .5em 0 .75em;
    width: 100%;

    font: bold 1.2em "OpenSans Regular", sans-serif;
    color: darkred;
    text-align: center;
}

.tct-notes {
    display: none;
    width: 100%;
    height: calc(2*1.5em + 2*var(--notes-tb-padding) + 2px);
    flex-shrink: 1;

    padding: var(--notes-tb-padding) var(--notes-lr-padding);
    font-size: .8em;

    border: calc(var(--border-width) / .8) solid var(--border-color);
    border-radius: var(--border-radius);

    background-color: var(--background-color2);
    box-shadow: var(--shadow);
}

.tct-notes:focus {
    background-color: var(--background-color2);
}

.tct-icon {
    flex-grow: 1;
    width: 60%;
    opacity: .1;

    background:
        linear-gradient(hsl(209, 100%, 56%), hsl(209, 100%, 56%)),
        top 30% center/contain no-repeat url(../res/icons/app-icon.png),
        white;
    background-blend-mode: lighten, normal;
}


/* --- Group --- */

.tc-group {
    margin: 0 var(--gap) .75em 0;
    padding: .5em 0 0 .5em;

    border: var(--border-width) solid var(--main-color);
    border-radius: var(--border-radius);

    /* For dynamic sizing of tcg-container */
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
}

.tc-group:last-child {
    margin-right: 0;          /* Right margin created by .tc-container::after */
}


.tcg-header {
    position: sticky;
    left: .4em;

    width: var(--column-width);
    height: 1.45em;
    margin-right: .5em;

    display: flex;
    align-items: center;
}

.tcg-right {
    margin-left: auto;
    padding-left: .4em;

    display: flex;
    align-items: center;
}

.tcg-heading {
    margin: -.1em 0 0 .1em;
    flex-shrink: 1;

    color: var(--main-color);
    font: normal 1.1em "OpenSans Regular", sans-serif;
}

.tcg-notes-button {
    margin-right: .5em;
    margin-left: -.25em;
}

.tcg-watch {
    margin-top: -.08em;
    font: 2em/.8 "OpenSans Regular", sans-serif;
}

.tcg-container {
    height: 0;
    flex-grow: 1;
    padding-top: .5em;

    /* Multiple column layout */
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

/* Notes */
.tcg-notes {
    display: none;
    width: calc(var(--column-width) / .8);
    height: calc(2*1.5em + 2*var(--notes-tb-padding) + 2px);
    flex-shrink: 1;

    margin: 0 .625em .625em 0;
    padding: var(--notes-tb-padding) var(--notes-lr-padding);
    font-size: .8em;

    border: calc(var(--border-width) / .8) solid var(--border-color);
    border-radius: var(--border-radius);

    background-color: var(--background-color2);
    box-shadow: var(--shadow);

    scroll-snap-align: center;
}

.tcg-notes:focus {
    background-color: var(--background-color2);
}


/* --- No Group --- */

.tc-no-group {
    height: 100%;
    margin: .5em calc(var(--gap) - .5em) 0 0;
    padding-bottom: .75em;

    /* Multiple column layout */
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

.tc-no-group:last-child {
    margin-right: 0;          /* Right margin created by .tc-container::after */
}


/* --- Exercise --- */

.tc-exercise {
    width: var(--column-width);
    max-height: calc(100% - .5em);
    margin: 0 .5em .5em 0;

    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: 0 0 .3em .05em transparent, var(--shadow);

    background-color: var(--background-color1);

    /* Content */
    display: flex;
    flex-direction: column;

    scroll-snap-align: center;
}

/* Header */

.tce-header {
    padding: 0 .5em;
    border-bottom: 1px solid var(--border-color);

    /* Content */
    display: flex;
    align-items: center;
    align-content: center;

    /* 1 row display */
    height: 2.7em;
}

.tce-right {
    margin-left: auto;

    display: flex;
    align-items: center;
}

.tce-name {
    font: normal 1.1em "OpenSans Regular", sans-serif;
    color: hsl(209, 100%, 50%);
}

.tce-notes-button {
    margin-right: .5em;
}

.tce-watch {
    margin: -.05em -.02em 0 0;
    font: 1.8em/.8 "OpenSans Regular", sans-serif;
}

    /* 2 rows display */
.tce-header.two-rows {
    flex-wrap: wrap;
    height: 4.25em;
}

.tce-header.two-rows .tce-name {
    width: 100%;
    margin-bottom: .2em;
}

/* Content */

.tce-container {
    flex-shrink: 1;
    overflow: auto;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    counter-reset: sets;

    /* Content */
    display: flex;
    flex-direction: column;
}

.tce-container.odd > :nth-child(odd) {
    background-color: var(--background-color2);
}

.tce-container.even > :nth-child(even) {
    background-color: var(--background-color2);
}

.tce-notes {
    display: none;
    width: 100%;
    height: calc(2*1.5em + 2*var(--notes-tb-padding));
    padding: var(--notes-tb-padding) var(--notes-lr-padding);

    border: none;
    border-radius: 0;

    background-color: transparent;
}

.tce-notes:focus {
    border: none;
}


/* Active exercise */

.tc-exercise.active-set {
    border-color: var(--active-set-color);
}

.tc-exercise.active-set .tce-name {
    color: var(--active-set-color);
}


.tc-exercise.active-pause {
    border-color: var(--active-pause-color);
}

.tc-exercise.active-pause .tce-name {
    color: var(--active-pause-color);
}


.tc-exercise.next {
    animation: next-exercise 1.8s ease-in-out infinite;
}

    @keyframes next-exercise {
        50% {
            border-color: hsl(0, 80%, 45%);
            box-shadow: 0 0 .3em .05em hsla(0, 80%, 45%, .3), var(--shadow);
        }
    }


/* --- Set --- */

.tc-exercise-set {
    padding: 0 .5em 0 1.5em;

    font-size: 1.2em;

    /* Content */
    display: flex;
    align-items: center;
    align-content: center;

    /* 1 row display */
    height: 1.8em;
}

.tcex-name {
    margin: -.34em 0 -.25em 0;
}

    /* Set counter */
.tcex-name::before {
    content: counter(sets) ".";
    counter-increment: sets;

    margin-right: .25em;
}

.tcex-watches {
    margin: -.02em 0 0 auto;

    font-size: 1.05em;
    line-height: .8;

    display: flex;
    align-items: center;
}

.tcex-set-watch {
   margin-right: .45em;
}

.tcex-pause-watch {
    color: var(--secondary-watch-color);
}


/* 2 rows display */
.tc-exercise-set.two-rows {
    flex-wrap: wrap;
    height: 3.16em;
}

.tc-exercise-set.two-rows .tcex-name {
    width: 100%;
    margin-bottom: .26em;
}


/* Active set */
.tc-exercise-set.active-set::before {
    color: var(--active-set-color);
}

.tc-exercise-set.active-set .tcex-name {
    color: var(--active-set-color);
}

.tc-exercise-set.active-set .tcex-set-watch {
    color: var(--active-set-color);
}

/* Active pause */
.tc-exercise-set.active-pause::before {
    color: var(--active-pause-color);
}

.tc-exercise-set.active-pause .tcex-name {
    color: var(--active-pause-color);
}

.tc-exercise-set.active-pause .tcex-pause-watch {
    color: var(--active-pause-color);
}